*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
resolved*openapi.json
.aws-sam

# Exclude generated code excepted generator script
/tests/connectors/erp-klio/
!generate.sh

# Generated openapi files
openapi.yaml
/.idea

# Copy into the container context
/core/api_core_lambda/core-implementation/
/core/api_core_lambda/.gitignore
